@import url('https://fonts.googleapis.com/css2?family=Workbench&display=swap');

.bgCalculette {
    background-color: rgb(187, 19, 19);
}

.bgCalcul {
    background-color: rgb(184, 118, 118);
}

.ecran {
    background-color: rgb(36, 46, 36);
    font-size: 2rem;
    font-family: "Workbench", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "BLED" 0,
        "SCAN" 0;
}

.bgbutton {
    background-color: rgb(187, 19, 19);
    font-size: 1.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.bodyTaille {
    width: 30vw;
    margin-left: 35%;
    margin-right: 35%;
}

.virgule {
       font-size: 1.5rem;
    padding-left: 1.7rem;
    padding-right: 1.7rem;
}

.plus {
    background-color: rgb(187, 19, 19);
    font-size: 1.5rem;
    padding-left: 1.3rem;
    padding-right: 1.3rem;
}

.egal {
     font-size: 1.5rem;
    padding-left: 1.4rem;
    padding-right: 1.4rem;
}

.AC {
    font-size: 1.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.negatif {
    font-size: 1.5rem;
    padding-left: 3rem;
    padding-right: 3rem;
}

.stp {
    padding-top: 1rem;
}

.bgbutton:hover {
    background-color: rgb(116, 12, 12);
}

.plus:hover {
    background-color: rgb(116, 12, 12);
}






@media only screen and (max-width: 450px) and (min-width: 330px) {
    .bodyTaille {
        width: 100vw;
        margin-left: 0%;
        margin-right: 0%;
    }

    .bgbutton {
        background-color: rgb(187, 19, 19);
        font-size: 1rem;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        padding-top: 0.75rem;
        padding-bottom: 0.75rem;
    }

    .virgule {
       font-size: 1rem;
    padding-left: 1.7rem;
    padding-right: 1.7rem;
}

.plus {
    background-color: rgb(187, 19, 19);
    font-size: 1.45rem;
    padding-left: 1.3rem;
    padding-right: 1.3rem;
}

.egal {
    padding-left: 1.4rem;
    padding-right: 1.4rem;
}

.AC {
    padding-left: 1.2rem;
    padding-right: 1.2rem;
}

.negatif {
    padding-left: 3rem;
    padding-right: 3rem;
}
}

@media only screen and (max-width: 321px) {
    .bodyTaille {
        width: 100vw;
        margin-left: 0%;
        margin-right: 0%;
    }

    .bgbutton {
        background-color: rgb(187, 19, 19);
        font-size: 1rem;
        padding-left: 1rem;
        padding-right: 1rem;
        padding-top: 0.75rem;
        padding-bottom: 0.75rem;
    }

    .virgule {
       font-size: 1rem;
        padding-left: 1.15rem;
        padding-right: 1.15rem;
        padding-top: 0.75rem;
        padding-bottom: 0.75rem;
}

.plus {
    background-color: rgb(187, 19, 19);
    font-size: 1rem;
        padding-left: 0.8rem;
        padding-right: 0.8rem;
        padding-top: 0.75rem;
        padding-bottom: 0.75rem;
}

.egal {
    font-size: 1rem;
        padding-left: 1rem;
        padding-right: 1rem;
        padding-top: 0.75rem;
        padding-bottom: 0.75rem;
}

.AC {
    font-size: 1rem;
        padding-left: 0.7rem;
        padding-right: 0.7rem;
        padding-top: 0.75rem;
        padding-bottom: 0.75rem;
}

.negatif {
   font-size: 1rem;
        padding-left: 1.8rem;
        padding-right: 1.8rem;
        padding-top: 0.75rem;
        padding-bottom: 0.75rem;
}

.ecran {
    background-color: rgb(36, 46, 36);
    font-size: 1rem;
    font-family: "Workbench", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "BLED" 0,
        "SCAN" 0;
}
}
